# Folders
/data
/results
/logs
/lectures
/m_check
/modules/lime
/modules/__pycache__
/utils/*
/best
/catalogs
/applications/intesa sanpaolo

# Extensions
*.pyc
*.log
*.csv
*.txt

# Files
sc_meta.txt
sc_columns.txt
ACD_tiles_size2.txt
list_file.txt
ls.txt
errors.txt
failed_runs.txt